===== PAGE 1 =====
A
g
e
n
t
数
字
人
项
目
基
金
数
据
问
答
智
能
体
任
务
工
单
八
维
文
化
与
产
业
研
究
院
2
0
2
5
年
1
月
北京八维信息集团


===== PAGE 2 =====
人
工
智
能
N
L
P
方
向
任
务
工
单
1
1
基
本
信
息
工
单
对
应
的
项
目
名
称
A
g
e
n
t
工
单
编
号
人
工
智
能
N
L
P
-
A
g
e
n
t
数
字
人
项
目
-
基
金
问
答
智
能
体
任
务
创
建
时
间
2
0
2
5
年
1
月
1
4
日
创
建
人
王
洪
荣
2
任
务
描
述
任
务
描
述
作
为
<
用
户
>
我
想
要
<
一
款
基
于
基
金
D
B
数
据
进
行
回
答
的
智
能
体
。
基
于
大
语
言
模
型
L
L
M
构
建
一
个
问
答
系
统
，
问
答
内
容
涉
及
基
金
/
股
票
/
债
券
/
等
不
同
数
据
来
源
。
可
以
选
择
商
业
化
模
型
或
者
开
源
模
型
，
可
以
结
合
多
个
模
型
，
可
以
采
用
公
开
访
问
的
外
部
数
据
进
行
微
调
模
型
，
也
可
以
采
用
L
a
n
g
C
h
a
i
n
、
向
量
数
据
库
等
相
关
技
术
。
提
供
相
应
的
结
构
化
数
据
和
文
本
数
据
，
如
涉
及
P
D
F
文
本
，
会
将
解
析
好
的
数
据
以
t
x
t
的
方
式
进
行
保
存
，
并
提
供
下
载
链
接
。
北京八维信息集团


===== PAGE 3 =====
人
工
智
能
N
L
P
方
向
任
务
工
单
2
查
询
的
数
据
来
源
包
括
1
0
张
基
金
表
数
据
，
所
有
问
题
的
答
案
均
可
在
数
据
中
查
询
得
到
。
一
、
基
金
数
据
博
金
杯
比
赛
数
据
.
d
b
大
小
：
1
.
4
6
G
文
件
格
式
：
s
q
l
l
i
t
e
d
b
文
件
文
件
数
量
：
1
时
间
跨
度
：
2
0
1
9
年
-
2
0
2
1
年
数
据
表
说
明
：
◦
基
金
基
本
信
息
◦
基
金
股
票
持
仓
明
细
◦
基
金
债
券
持
仓
明
细
◦
基
金
可
转
债
持
仓
明
细
◦
基
金
日
行
情
表
◦
A
股
票
日
行
情
表
◦
港
股
票
日
行
情
表
◦
A
股
公
司
行
业
划
分
表
◦
基
金
规
模
变
动
表
◦
基
金
份
额
持
有
人
结
构
参
考
：
h
t
t
p
s
:
/
/
t
i
a
n
c
h
i
.
a
l
i
y
u
n
.
c
o
m
/
c
o
m
p
e
t
i
t
i
o
n
/
e
n
t
r
a
n
c
e
/
5
3
2
1
7
2
/
i
n
f
o
r
m
a
北京八维信息集团


===== PAGE 4 =====
人
工
智
能
N
L
P
方
向
任
务
工
单
3
t
i
o
n
中
的
基
金
数
据
测
试
问
题
如
下
：
q
u
e
s
t
i
o
n
.
j
s
o
n
，
包
含
1
0
0
0
道
测
试
题
目
，
以
j
s
o
n
l
文
件
提
供
。
示
例
测
试
数
据
：
{
"
i
d
"
:
0
,
"
q
u
e
s
t
i
o
n
"
:
"
景
顺
长
城
中
短
债
债
券
C
基
金
在
2
0
2
1
0
3
3
1
的
季
报
里
，
前
三
大
持
仓
占
比
的
债
券
名
称
是
什
么
?
"
}
{
"
i
d
"
:
1
,
"
q
u
e
s
t
i
o
n
"
:
"
上
海
华
铭
智
能
终
端
设
备
股
份
有
限
公
司
的
首
发
战
略
配
售
结
果
如
何
？
"
}
二
、
参
考
资
料
：
数
据
集
下
载
地
址
h
t
t
p
s
:
/
/
w
w
w
.
m
o
d
e
l
s
c
o
p
e
.
c
n
/
d
a
t
a
s
e
t
s
/
B
J
Q
W
1
4
B
/
b
s
_
c
h
a
l
l
e
n
g
e
_
f
i
n
a
n
c
i
a
l
_
1
4
b
_
d
a
t
a
s
e
t
/
s
u
m
m
a
r
y
参
考
方
案
：
h
t
t
p
s
:
/
/
g
i
t
h
u
b
.
c
o
m
/
T
o
w
a
r
d
S
u
n
/
F
i
n
Q
w
e
n
推
荐
使
用
模
型
下
载
地
址
：
h
t
t
p
s
:
/
/
m
o
d
e
l
s
c
o
p
e
.
c
n
/
o
r
g
a
n
i
z
a
t
i
o
n
/
T
o
n
g
y
i
F
i
n
a
n
c
e
h
t
t
p
s
:
/
/
m
o
d
e
l
s
c
o
p
e
.
c
n
/
m
o
d
e
l
s
/
q
w
e
n
/
Q
w
e
n
-
7
B
-
C
h
a
t
/
s
u
m
m
a
r
y
>
北京八维信息集团


===== PAGE 5 =====
人
工
智
能
N
L
P
方
向
任
务
工
单
4
以
便
于
<
实
现
基
金
问
题
回
复
功
能
>
工
时
预
估
2
人
日
产
出
物
1
、
基
金
D
B
数
据
表
关
系
图
2
、
基
于
q
u
e
s
t
i
o
n
.
j
s
o
n
l
的
问
题
，
生
成
的
回
复
3
、
功
能
实
现
代
码
4
、
实
现
步
骤
，
过
程
问
题
记
录
文
档
或
者
演
示
视
频
；
验
收
标
准
问
题
题
目
q
u
e
s
t
i
o
n
.
j
s
o
n
，
测
试
跟
基
金
查
询
相
关
的
数
据
，
以
j
s
o
n
文
件
提
供
。
测
试
数
据
，
举
例
，
具
体
参
考
q
u
e
s
t
i
o
n
.
j
s
o
n
l
：
{
"
i
d
"
:
0
,
"
q
u
e
s
t
i
o
n
"
:
"
请
帮
我
计
算
，
在
2
0
2
1
0
1
0
5
，
中
信
行
业
分
类
北京八维信息集团


===== PAGE 6 =====
人
工
智
能
N
L
P
方
向
任
务
工
单
5
划
分
的
一
级
行
业
为
综
合
金
融
行
业
中
，
涨
跌
幅
最
大
股
票
的
股
票
代
码
是
？
涨
跌
幅
是
多
少
？
百
分
数
保
留
两
位
小
数
。
股
票
涨
跌
幅
定
义
为
：
（
收
盘
价
-
前
一
日
收
盘
价
/
前
一
日
收
盘
价
）
*
1
0
0
%
。
?
"
}
{
"
i
d
"
:
2
,
"
q
u
e
s
t
i
o
n
"
:
"
请
帮
我
查
询
出
2
0
2
1
0
4
1
5
日
，
建
筑
材
料
一
级
行
业
涨
幅
超
过
5
%
（
不
包
含
）
的
股
票
数
量
。
"
}
需
要
补
全
a
n
s
w
e
r
字
段
进
行
答
案
提
交
，
提
交
格
式
为
j
s
o
n
l
文
件
下
载
方
式
#
要
求
安
装
g
i
t
l
f
s
g
i
t
c
l
o
n
e
h
t
t
p
s
:
/
/
w
w
w
.
m
o
d
e
l
s
c
o
p
e
.
c
n
/
d
a
t
a
s
e
t
s
/
B
J
Q
W
1
4
B
/
b
s
_
c
h
a
l
l
e
n
g
e
_
f
i
n
a
n
c
i
a
l
_
1
4
b
_
d
a
t
a
s
e
t
.
g
i
t
基
金
数
据
：
.
/
d
a
t
a
s
e
t
/
博
金
杯
比
赛
数
据
.
d
b
招
股
书
数
据
：
.
/
p
d
f
和
.
/
p
d
f
_
t
x
t
_
f
i
l
e
问
题
题
目
：
.
/
q
u
e
s
t
i
o
n
.
j
s
o
n
l
备
注
1
、
使
用
主
流
的
解
决
方
案
实
现
N
L
2
S
Q
L
的
功
能
；
2
、
代
码
注
释
需
包
括
工
单
编
号
：
人
工
智
能
N
L
P
-
A
g
e
n
t
数
字
人
项
目
-
基
金
问
答
智
能
体
任
务
北京八维信息集团


